<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seassoon.rule.mapper.DataStandardAppendFileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="seassoon.rule.entity.DataStandardAppendFile">
        <id column="id" property="id" />
        <result column="data_standard_id" property="dataStandardId" />
        <result column="file_path" property="filePath" />
        <result column="file_name" property="fileName" />
        <result column="file_type" property="fileType" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, data_standard_id, file_path, file_name, file_type, gmt_create, gmt_modified
    </sql>

</mapper>
